---
---
<div class="container access-card">
    <div class="card">
        <div class="card-body">
            <!--Markers -->
            <div class="marker smalt-blue">
                <div class="cap"></div>
            </div>

            <div class="marker brown-rust">
                <div class="cap"></div>
            </div>

             <!--Emojis -->
            <div class="row row-emojis">
                <div class="column col-emoji">
                    &#127918;
                </div>
                <div class="column col-emoji">
                    &#127919;
                </div>
                <div class="column col-emoji">
                    &#128126;
                </div>
                <div class="column col-emoji">
                    &#128397;&#65039;
                </div>
            </div>

            <h5 class="card-title">TIC PAC TOE</h5>
        </div>

        <!--Login, Signup Buttons -->
        <div class="container buttons">
            <!--SignUp -->
            <button class="btn btnAccess" aria-label="sign-up">
                <a href="/signup">SignUp</a>
            </button>

            <!--LogIn -->
            <button class="btn btnAccess" aria-label="log-in">
                <a href="/login">LogIn</a>
            </button>
        </div>
    </div>
</div>
