---
---
<div class="container">
    <h1>Welcome to the Infinite Tic Tac Toe</h1>

    <button>
        <a href="signup.html">Sign Up</a>
    </button>

    <button>
        <a href="login.html">Log In</a>
    </button>
</div>