---
---

<!--LogIn Form -->

<div class="container login">
    <div class="container title">
        <h1>LogIn</h1>
        <p id="main-p">Welcome back!!!</p>
        <p>Still an outsider? Create your profile 
            <button class="btn btnAccess" aria-label="log-in">
                <a href="/signup">SignUp</a>
            </button>
        </p>
    </div>
    <!--Form -->
    <div class="container form">
        <form id="login-form" action="#" method="post">
            <fieldset>
                <!--Email-->
                <label for="email">
                    Enter your email: <input required id="email" type="email" name="email" placeholder="Email" autocomplete="email">
                </label>
                <!--Password -->
                <label for="password">
                    Enter your password: <input required id="password" type="password" name="password" placeholder="Password" autocomplete="new-password">
                </label>
            </fieldset>
            
            <!--LogIn -->
            <button class="btn btnAccess" aria-label="log-in">
                <a href="/mode">LogIn</a>
            </button>
          </form>
    </div>
</div>
