@use 'signup.scss';
@use 'login.scss';
@use 'mode.scss';

//Fonts
@font-face {
    font-family: 'BarcadeItalic-wzZz';
    src: url('/fonts/barcade-font/BarcadeItalic-wzZz.otf') format('truetype');
}
 @font-face {
    font-family: 'BarcadeNoBar-mzD9';
    src: url('/fonts/barcade-font/BarcadeNoBar-mzD9.otf') format('truetype');
 }

//body
*{
    box-sizing: border-box;
}


//Access-Card: Login and Signup options
.access-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/images/background.png');
    background-size: cover;
    .card{
        background-color: #0e333c;
        border: solid 5px white;
        border-radius: 15px;
        width: 100%;
        max-width: 50%;
        .card-body {
            .marker{
                height: 10px;
                width: 750px;
                margin: 10px auto;
            }
            //marker: smalt blue
            .smalt-blue {
                background: linear-gradient( 
                    rgb(15, 50, 59), 
                    rgb(7, 240, 213), 
                    rgb(3, 224, 249));
                    box-shadow: 0 0 20px 0 rgba(83,14,14,0.8);
            }

            //marker brown-rust
            .brown-rust {
                background: linear-gradient( 
                    rgb(178, 114, 61), 
                    rgb(244, 139, 2), 
                    rgb(233, 206, 163));
                    box-shadow: 0 0 20px 0 rgba(83,14,14,0.8);
            }

            //Emojis
            .row-emojis{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .col-emoji {
                    font-size: 4rem;
                }
            }

            
            .card-title {
                margin: 2rem;
                display: flex;
                justify-content: center;
                font-family: 'BarcadeItalic-wzZz', sand-serif;
                font-size: 5rem;
                color: #e9cea3;
            }
        }

        //Buttons
        .container.buttons{
            display: flex;
            justify-content: center;
            gap: 40px;
            padding-bottom: 1rem;
            
            .btnAccess {
                background-color: transparent;
                transition: border-width 0.6s linear;
                font-size: 1.5rem;
                font-family: 'BarcadeNoBar-mzD9', sand-serif;

                a {
                    text-decoration: none;
                    color: white;
                }

                &:hover{
                   /*  font-size: 3rem; */
                    transform: scale(1.5);
                }
                }
            }
        }
    }
  

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .access-card{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/images/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .card{
            width: 100%;
            max-width: 60%;
            .card-body{
                .marker{
                    height: 10px;
                    width: 350px;
                    margin: 10px auto
                }
                .row-emojis{
                    .col-emoji{
                        font-size: 2.9rem;
                    }
                }
                .card-title{
                    font-size: 3rem;
                }
            }
            
            .container.buttons{
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                .btnAccess {
                    width: 100%;
                    max-width: 30%;                   
                     font-size: 1.7rem;
                    
                a {
                    text-decoration: none;
                    color: white;
                }

                &:hover{
                   /*  font-size: 3rem; */
                    transform: scale(1.5);
                }
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .access-card{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/images/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .card{
            width: 100%;
            max-width: 60%;
            .card-body{
                .marker{
                    height: 10px;
                    width: 420px;
                    margin: 10px auto
                }
                .row-emojis{
                    .col-emoji{
                        font-size: 3.2rem;
                    }
                }
                .card-title{
                    font-size: 4rem;
                }
            }
            
            .container.buttons{
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                .btnAccess {
                    width: 100%;
                    max-width: 30%;
                    font-size: 1.7rem;
                    a {
                        text-decoration: none;
                        color: white;
                    }
    
                    &:hover{
                       /*  font-size: 3rem; */
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .access-card{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/images/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .card{
            width: 100%;
            max-width: 60%;
            .card-body{
                .marker{
                    height: 10px;
                    width: 550px;
                    margin: 10px auto
                }
                .row-emojis{
                    .col-emoji{
                        font-size: 3.5rem;
                    }
                }
                .card-title{
                    font-size: 4rem;
                }
            }
            
            .container.buttons{
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                .btnAccess {
                    width: 100%;
                    max-width: 25%;
                    font-size: 1.7rem;
                    a {
                        text-decoration: none;
                        color: white;
                    }
    
                    &:hover{
                       /*  font-size: 3rem; */
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .access-card{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/images/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .card{
            width: 100%;
            max-width: 60%;
            .card-body{
                .marker{
                    height: 10px;
                    width: 770px;
                    margin: 10px auto
                }
                .row-emojis{
                    .col-emoji{
                        font-size: 4.5rem;
                    }
                }
                .card-title{
                    font-size: 5rem;
                }
            }
            
            .container.buttons{
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                gap: 50px;
                .btnAccess {
                    width: 100%;
                    max-width: 25%;
                    font-size: 1.9rem;
                    a {
                        text-decoration: none;
                        color: white;
                    }
    
                    &:hover{
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}