@use 'signup.scss';
@use 'login.scss';
@use 'mode.scss';

//Fonts
@font-face {
    font-family: 'BarcadeItalic-wzZz';
    src: url('/fonts/barcade-font/BarcadeItalic-wzZz.otf') format('truetype');
}
 @font-face {
    font-family: 'BarcadeNoBar-mzD9';
    src: url('/fonts/barcade-font/BarcadeNoBar-mzD9.otf') format('truetype');
 }

//body
*{
    box-sizing: border-box;
}


//Access-Card: Login and Signup options
.access-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/images/background.png');
    background-size: cover;
    .card{
        background-color: #0e333c;
        border: solid 5px white;
        border-radius: 15px;
        width: 100%;
        max-width: 50%;

        .card-body {
            .marker{
                height: 10px;
                width: 750px;
                margin: 10px auto;
            }
            //marker: smalt blue
            .smalt-blue {
                background: linear-gradient( 
                    rgb(15, 50, 59), 
                    rgb(7, 240, 213), 
                    rgb(3, 224, 249));
                    box-shadow: 0 0 20px 0 rgba(83,14,14,0.8);
            }

            //marker brown-rust
            .brown-rust {
                background: linear-gradient( 
                    rgb(178, 114, 61), 
                    rgb(244, 139, 2), 
                    rgb(233, 206, 163));
                    box-shadow: 0 0 20px 0 rgba(83,14,14,0.8);
            }

            //Emojis
            .row-emojis{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .col-emoji {
                    font-size: 4rem;
                }
            }

            
            .card-title {
                margin: 2rem;
                display: flex;
                justify-content: center;
                font-family: 'BarcadeItalic-wzZz', sand-serif;
                font-size: 5rem;
                color: #e9cea3;
            }
        }

        //Buttons
        .container.buttons{
            display: flex;
            justify-content: center;
            gap: 40px;
            padding-bottom: 1rem;
            
            .btnAccess {
                background-color: transparent;
                transition: border-width 0.6s linear;
                font-size: 1.5rem;
                font-family: 'BarcadeNoBar-mzD9', sand-serif;

                a {
                    text-decoration: none;
                    color: white;
                }

                &:hover{
                   /*  font-size: 3rem; */
                    transform: scale(1.5);
                }
            }
        }
    }
}