---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <h1>TEXT</h1>
    <p id="system">
        <!-- System messages go here -->
    </p>
</Layout>


<script type="module">
    import { io } from "https://cdn.socket.io/4.8.1/socket.io.esm.min.js"
	const socket = io('http://localhost:3500') // backend url

     
        
</script>