---
import Layout from "../layouts/Layout.astro"
import Multiplayer from "../components/multiplayer.astro"
---

<Layout>
    <div class="background">
        <Multiplayer/>
        
    </div>
</Layout>

<style>
    .background {
        background-image: url('images/bg-pixels.png');
    }
</style>